*{
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.heading{
  background-color: rgb(0, 53, 53);
  color: white;
}
#para{
  color:white;
  background-color: purple;
  padding: 4rem;
  border: 20px solid red;
}
.btn{
  color: silver;
  background-color: gold;
}